div#board_container
  div#board_header
    a.action.back Back to game list
  div#board
    div#turn
    div#dice
      div.left.top
      div.left.center
      div.left.bottom
      div.hcenter.center
      div.right.top
      div.right.center
      div.right.bottom
    div#end
      h2 
        span.win YOU WIN
        span.lose YOU LOSE

script#cell-template(type="text/template")
  |<div class="pawn">
  |</div>
  |<div class="target">
  | <div class="topleft"></div>
  | <div class="topright"></div>
  | <div class="bottomleft"></div>
  | <div class="bottomright"></div>  
  |</div>