div#board_container
  div#board_header
    a.action.back Back to game list
  div#board
    div#turn
    div#dice
      div.left.top
      div.left.center
      div.left.bottom
      div.hcenter.center
      div.right.top
      div.right.center
      div.right.bottom

script#cell-template(type="text/template")
  |<div>
  |</div>