div#games
  h1 Game list
  ul.list
  button#create New Game

script#game-template(type="text/template")
  |<div class="view">
  |  <label class="players"></label>
  |  <label class="title"></label>
  |  <a class="action delete">Delete</a>
  |  <a class="action quit">Quit</a>
  |  <a class="action start">Start</a>
  |  <a class="action join">Join</a>
  |  <a class="action play">Play</a>
  |</div>