extends layout

append head
  script(type='text/javascript', src= socketio_base_url + '/socket.io/socket.io.js')
  script(type='text/javascript', data-main='js/main', src='js/libs/require.js')
  script
    socketio_base_url = '!{socketio_base_url}'

append body
  header
    div
      h1= title
      img(src='img/trophee.png', height='20px')
      h1#nb-victory
      a(href='/logout') Logout
    
  div.content
    div.game-content
      include game_list
      include board
    
    include chat  
