div.login
  h1= 'Login'
  if errors.length
    each error, i in errors
      span.error= error

  form( action="/login", method="post" )
    input(type="text", placeholder="Username", name="username", autofocus )
    input(type="password", placeholder="Password", name="password")
    input(type="submit", value="Log In")
    div.cb