#board_container{display:none;}
#board_container .action{action-button:#555}
#board_container #board{position:relative;margin-top:8px;background-color:#888;width:600px;height:600px;}
#board_container #board #turn{border-radius:50%;float:left;width:30px;height:30px;margin:8px}
#board_container #board #dice{position:relative;float:left;border-radius:4px;width:30px;height:30px;margin:8px;background-color:#fff;background-gradient:top,#fefefe,#f1f1f1 80%;box-shadow:0 5px 0 #ccc,0 6px 3px #444;}
#board_container #board #dice.one .hcenter.center{display:block}
#board_container #board #dice.two .top.left,#board_container #board #dice.two .bottom.right{display:block}
#board_container #board #dice.three .hcenter.center,#board_container #board #dice.three .top.left,#board_container #board #dice.three .bottom.right{display:block}
#board_container #board #dice.four .top.left,#board_container #board #dice.four .top.right,#board_container #board #dice.four .bottom.left,#board_container #board #dice.four .bottom.right{display:block}
#board_container #board #dice.five .top.left,#board_container #board #dice.five .top.right,#board_container #board #dice.five .bottom.left,#board_container #board #dice.five .bottom.right,#board_container #board #dice.five .hcenter.center{display:block}
#board_container #board #dice.six .top.left,#board_container #board #dice.six .top.right,#board_container #board #dice.six .center.left,#board_container #board #dice.six .center.right,#board_container #board #dice.six .bottom.left,#board_container #board #dice.six .bottom.right{display:block}
#board_container #board #dice div{background-color:#000;width:6px;height:6px;border-radius:50%;position:absolute;display:none;}
#board_container #board #dice div.left{left:3px}
#board_container #board #dice div.hcenter{left:12px}
#board_container #board #dice div.right{right:3px}
#board_container #board #dice div.top{top:3px}
#board_container #board #dice div.center{top:12px}
#board_container #board #dice div.bottom{bottom:3px}
#board_container #board .cell{border-radius:50%;position:absolute;background-color:#fff;}
#board_container #board .cell.target{cursor:pointer}
#board_container #board .cell.target:after{content:'';position:absolute;width:30px;height:30px;border-radius:30%;box-shadow:0 0 -7px 7px #f80;z-index:1}
#board_container #board .cell.target:hover:after{border-radius:50%}
#board_container #board .cell.start,#board_container #board .cell.exit{box-shadow:0 0 0 8px #fff inset}
#board_container #board .cell.exit,#board_container #board .cell.barricade{background-color:#333}
#board_container #board .pawn.hoverable{cursor:pointer}
#board_container #board .pawn.hoverable:hover:after,#board_container #board .pawn.selected:after{content:'';position:absolute;width:26px;height:26px;border-radius:50%;border:2px solid #fff;box-shadow:0 0 8px #fff inset}
#board_container #board .pawn,#board_container #board #turn{box-shadow:2px 2px 2px #444,-3px -3px 9px #000 inset}
#board_container #board .red{background-color:#f00}
#board_container #board .green{background-color:#0f0}
#board_container #board .yellow{background-color:#ff0}
#board_container #board .blue{background-color:#00f}
