#chat{background-color:#fff;padding:8px;position:fixed;right:0;bottom:0;width:400px;}
#chat.minimized{width:auto;}
#chat.minimized .switch{border:1px solid}
#chat.minimized #message,#chat.minimized #conversation{display:none}
#chat h1{margin-right:24px}
#chat .switch{width:14px;height:14px;border-bottom:1px solid;action-button:#555}
#chat #message{padding:5px;}
#chat #message #new_message{padding:4px;margin:-7px -5px;width:100%;border:1px solid #acacac;border-radius:0}
#chat #conversation{height:200px;overflow-y:auto;overflow-x:hidden;border:solid 1px #acacac;padding:8px;}
#chat #conversation span{opacity:0;transition:opacity 1s;}
#chat #conversation span.visible{opacity:1}
