cell-size = 30px

@keyframes blurFadeIn
  0%
    opacity 0
    text-shadow 0px 0px 40px
    transform scale(0)
  50%
    transform scale(1.5)
  100%
    opacity 1
    text-shadow 0px 0px 1px
    transform scale(1)

#board_container
  display none
  #board_header
    .action
      action-button #555
    &:after
      content ''
      display block
      clear both
  #board
    position relative
    margin-top 8px
    background url('../img/board.jpg')
    box-shadow 0 0 100px 6px inset, 0 0 0 4px inset
    width 600px
    height @width
    #turn
      border-radius 50%
      float: left
      width cell-size
      height @width
      margin 8px
    #dice
      position relative
      float left
      border-radius 4px
      width cell-size
      height @width
      margin 8px
      background-color #fff
      background-gradient top, #fefefe, #f1f1f1 80%
      box-shadow 0px 5px 0 #CCC, 0 6px 3px #444
      &.one
        .hcenter.center
          display: block
      &.two
        .top.left
        .bottom.right
          display: block
      &.three
        .hcenter.center
        .top.left
        .bottom.right
          display: block
      &.four
        .top.left
        .top.right
        .bottom.left
        .bottom.right
          display: block
      &.five
        .top.left
        .top.right
        .bottom.left
        .bottom.right
        .hcenter.center
          display: block
      &.six
        .top.left
        .top.right
        .center.left
        .center.right
        .bottom.left
        .bottom.right
          display: block
      div
        background-color #000
        width 6px
        height @width
        border-radius 50%
        position absolute
        display none
        space = ((cell-size - @width * 3)/4)
        &.left
          left space
        &.hcenter
          left @width + 2 * space
        &.right
          right space
        &.top
          top space
        &.center
          top @width + 2 * space
        &.bottom
          bottom space

    .cell 
      border-radius 50%
      position absolute
      background-color #fff
      &.start
      &.exit
        box-shadow 0 0 0 8px #fff inset
        
      .target
        display none
        cursor pointer
        z-index 1
        position absolute
        tr-color = #f80
        tr-size = 8px
        
        &.move-barricade
          width cell-size
          height @width
          top 0
          left 0
          &:hover
            border-radius 50%
            background-color #333
            opacity 0.7
            pawn-shadow()
            
        &.move-pawn
          width cell-size + 4px
          height @width
          top ((cell-size - @width) / 2)
          left @top
          &:hover
            width cell-size
            height @width
            top 0
            left 0
          div
            position absolute
          .topleft
            triangle-topleft tr-size tr-color
            top 0
            left 0
          .topright
            triangle-topright tr-size tr-color
            top 0
            right 0
          .bottomleft
            triangle-bottomleft tr-size tr-color
            bottom 0
            left 0
          .bottomright
            triangle-bottomright tr-size tr-color
            bottom 0
            right 0
        
      &.hoverable
        cursor pointer
      &.move-barricade .pawn
        opacity 0.7
      &.hoverable:hover:after
      &.move-pawn:after
        content ''
        position absolute
        top 0
        width 26px
        height 26px
        border-radius 50%
        border 2px solid #fff  
        box-shadow 0 0 8px #fff inset 
        
      .pawn
        border-radius 50%
        width: 100%
        height: 100%
    .cell .pawn
    #turn
      pawn-shadow()
    .red
      background-color #f00
    .green
      background-color #0f0
    .yellow
      background-color #ff0
    .blue
      background-color #00f  
    .exit
    .barricade
      background-color #333
      
    #end
      width 100%
      height 100%
      z-index 2
      display none
      position absolute
      background-color rgba(0, 0, 0, 0.7)
      h2
        margin auto
        position absolute
        width 100%
        text-align center
        margin-top 40%
        font-size 5em
        text-shadow 0 0 4px
        animation blurFadeIn 1s ease-in
        .win
          color #ffee00
        .lose
          color #ff0000
        