#error
  top 30%
  position relative
  border-radius 6px
  box-shadow content-shadow
  background-color #fff
  margin 0 auto 
  padding 8px
  width 300px
  text-align center
  h1 
    font-size 32px
  p
    font-size 16px