@import 'utils'

content-width = 616px
header-height = 40px
header-color = #222
content-shadow = 0 0 0 16px rgba(255,255,255,0.3)
  
center-content(width)
  width width
  margin 0 auto
  position relative

action-button(hover-color = #fff)
  text-decoration underline
  cursor pointer
  float right
  margin-left 4px
  &:hover
    color hover-color
    
big-button()
  cursor pointer
  margin 0
  color: #fff
  border-radius 4px
  background-color #3d3d3d
  border none
  box-shadow 0 0 12px #000 inset
  padding 6px 12px
  &:hover
    box-shadow 0 0 4px 1px #fff inset
    
body, html
  height 100%
  margin 0
  padding 0

body
  background url('../img/grain.png')
  font 12px Arial
  
h1
  font-size 16px  
  margin 0

header
  display block
  z-index 2
  width 100%
  height header-height
  position fixed
  top 0
  background-color header-color
  border-bottom solid 1px #000
  box-shadow 0 2px 2px rgba(0, 0, 0, 0.5)
  div
    padding 8px
    center-content content-width
    h1
      padding 4px 0
      float left
      color #fff
    a
      padding 4px 0
      float right
      color #fff

.content
  min-height 100%
  center-content content-width
  background-color #fff
  box-shadow content-shadow
  
  .game-content
    padding header-height + 16px 8px 42px
    &.playing
      #board_container
        display block
      #games
        display none
  
@import 'login'
@import 'chat'
@import 'game_list'
@import 'board'
          
