@import 'utils'

container(width)
  border 1px solid #000
  border-radius 3px
  box-shadow: 0 4px 16px #000
  background-color #fff
  margin 8px auto 
  width width
  padding 8px

action-button(hover-color = #fff)
  text-decoration underline
  cursor pointer
  float right
  margin-left 4px
  &:hover
    color hover-color

game-status(color)
  content ''
  position absolute
  width 10px
  height 10px
  background-color color
  border-radius 5px
  margin 5px
  top 0
  left 0
  border 1px solid #888
    
body
  background-color: #3d3d3d
  font 12px Arial
  
h1
  font-size 16px  
  margin 0

.header
  h1
    color #fff
  position relative
  container 600px
  background-color #000
  a
    position absolute
    top 0
    right 0
    margin 10px
    color #fff

.content
  container 600px
  min-height 300px
  
  &.playing
    #board_container
      display block
    #games
      display none
  
@import 'login'
@import 'chat'
@import 'game_list'
@import 'board'
          
