border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  -ms-border-radius n
  -o-border-radius n
  border-radius n

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  -ms-box-shadow arguments
  -o-box-shadow arguments
  box-shadow arguments
  
background-gradient()
  background-image -webkit-linear-gradient(arguments)
  background-image -moz-linear-gradient(arguments)
  background-image -o-linear-gradient(arguments)
  background-image linear-gradient(arguments)

animation()
  animation arguments
  -moz-animation arguments
  -webkit-animation arguments
  -o-animation arguments

animation-duration()
  animation-duration arguments
  -moz-animation-duration arguments
  -webkit-animation-duration arguments
  -o-animation-duration arguments
  
transition()
  transition arguments
  -moz-transition arguments
  -webkit-transition arguments
  -o-transition arguments
  
triangle-topleft(size = 10px, color = #fff)
  width 0
  height 0
  border-top size solid color
  border-right size solid transparent
  
triangle-topright(size = 10px, color = #fff)
  width 0
  height 0
  border-top size solid color
  border-left size solid transparent
  
triangle-bottomleft(size = 10px, color = #fff)
  width 0
  height 0
  border-bottom size solid color
  border-right size solid transparent
  
triangle-bottomright(size = 10px, color = #fff)
  width 0
  height 0
  border-bottom size solid color
  border-left size solid transparent
  
